.formacao {
  background: #141214;
  color: #ffffff;
}

.formacao-container {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../medias/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #acacac;
  max-width: 5ch;
  font-size: 11.9rem;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #99989A;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  flex: 1;
  background: #090909;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #848385;
  margin-bottom: 10px;
}

.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#FFD600, #F16529);
  border-top-left-radius: 0.5;
  border-bottom-left-radius: 0.5;
  position: absolute;
  /*top: 20px;*/
  left: -24px;
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #848385;
}

.linguagens-frameworks {
  margin-bottom: 60px;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #848385;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.linguagens-frameworks h3::before {
  background: url("../medias/icon-code.svg") no-repeat center center;
}

.idiomas h3:before {
  background: url("../medias/icon-idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #ffffff;
}

.linguagens-frameworks li {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.idiomas span {
  color: #a3a3a3;
}

@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #ffffff;
  }

  .formacao-texto {
    font-size: 1.125rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .formacao .subtitulo {
    font-size: 3rem;
  }
}